:root {
  --primary-color: #0D243C;
  --font-color: #9EA7B1;
}

body {
  background: var(--primary-color);
  font-family: 'Comic-sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: grayscale;
  color: var(--font-color);

}

#app {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  margin: 0 auto; 
  width: 100vw;
}